<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link rel="canonical" href="https://skillab-project.github.io/documentation/components/tracker/testing/">
        <link rel="shortcut icon" href="../../../img/favicon.ico">
        <title>Testing - SKILLAB</title>
        <link href="../../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../../css/brands.min.css" rel="stylesheet">
        <link href="../../../css/solid.min.css" rel="stylesheet">
        <link href="../../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../../..">SKILLAB</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Components</a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Tracker</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../" class="dropdown-item">General Info</a>
</li>
            
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Testing</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">KU Detection</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../ku-detection/" class="dropdown-item">General Info</a>
</li>
            
<li>
    <a href="../../ku-detection/tests/" class="dropdown-item">Testing</a>
</li>
    </ul>
  </li>
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Universities Curriculum</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../universities-curriculum/" class="dropdown-item">General Info</a>
</li>
            
<li>
    <a href="../../universities-curriculum/testing/" class="dropdown-item">Testing</a>
</li>
    </ul>
  </li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../../ku-detection/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/skillab-project/skillab-tracker-testathon/edit/master/docs/testing.md" class="nav-link">
                                        Edit</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#skillab-tracker" class="nav-link">Skillab Tracker</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#overview" class="nav-link">Overview</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#types-of-testing-that-can-be-conducted" class="nav-link">Types of testing that can be conducted</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#procedure" class="nav-link">Procedure</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="skillab-tracker">Skillab Tracker</h1>
<hr />
<h2 id="overview">Overview</h2>
<p>Automated testing via coding is the preferred approach as it ensures reproducibility and aids project maintenance, particularly during merges. However, semantic aspects of the application that cannot be tested through code should be verified manually via the documentation page.</p>
<h2 id="types-of-testing-that-can-be-conducted">Types of testing that can be conducted</h2>
<h3 id="data-integrity-testing">Data Integrity Testing</h3>
<p>Data Integrity Testing ensures that data remains accurate, consistent, unaltered, and free from unnecessary data or duplications during storage, retrieval, and processing.</p>
<p>Examples of test cases:
* Check for Duplicate Data in API Responses. (Easy)
* Validate Unique Entries. (Easy)
* Verify endpoints return the same information every time when identical filters are applied. (Easy)</p>
<h3 id="accuracy-testing">Accuracy Testing</h3>
<p>Accuracy testing refers to the process of evaluating how close a system's output is to the correct or expected result.</p>
<p>Examples of test cases:
* Accurate set of extracted skills and occupations based on the information provided. (Hard)
* Propagation and backpropagation returns expected results. (Medium)</p>
<p><sub> Most likely the accuracy of the extracted skills can only be conducted manually and not automated. </sub></p>
<h3 id="completeness-testing">Completeness Testing</h3>
<p>Completeness testing ensures that all required functionalities, data, or conditions in a system are fully implemented and accounted for.</p>
<p>Examples of test cases:
* Missing skills while there is information to be extracted from. (Easy)</p>
<h3 id="logic-testing">Logic Testing</h3>
<p>Ensure that the filtering logic implemented at the endpoints functions as expected.</p>
<p>Examples of test cases:
* AND/OR Logic: Confirm that the filtering operators (AND, OR) behave correctly when applied. (Easy)
* Keyword Filtering: Verify that keyword-based filters return the correct results.(Easy)
* ID Filtering: Ensure that an id is present in the results when it is used for filtering. (Easy)</p>
<h2 id="procedure">Procedure</h2>
<h3 id="manual-testing">Manual Testing</h3>
<p>You can only test the application's semantic meaning manually by inspecting the API's responses. The <a href="http://localhost:8000/api/docs">Swagger Documentation page</a> helps you create requests and view their results. To report a bug, submit the CURL command copied from the documentation page, optionally accompanied by a screenshot.</p>
<h4 id="example-of-manual-testing">Example of manual testing</h4>
<p>For example, by inspecting the list of returned courses, we can notice that the skills extraction for a specific course worked like expected. Or the skills are associated to the course's title and description. This is part of the <em>Data Integrity Testing</em>.</p>
<p>Course Title: Security and DevOps
Skills:
* monitor logging operations
* tools for software configuration management 
* DevOps
* coordinate security</p>
<p><img alt="course.png" src="../course.png" /></p>
<h3 id="automated-testing">Automated Testing</h3>
<p>For writing tests, we recommend using <strong>Django's test client</strong> along with <strong>Python's built-in unittest framework</strong>. However, you are free to use your preferred testing framework and dependencies.</p>
<h4 id="example-of-automated-testing">Example of automated testing</h4>
<p>This test validates that single-keyword searching works as expected in job listings and is part of the <em>Logic Testing</em>.</p>
<p>You can also view the following test in <code>api/tests.py</code>.</p>
<pre><code class="language-python">from unittest import TestCase
from django.test import Client


class JobsTest(TestCase):
    def setUp(self):
        super().setUp()
        self.client = Client()

    def test_jobs_keyword(self):
        keyword = &quot;software&quot;
        response = self.client.post(&quot;/api/jobs&quot;, data={&quot;keywords&quot;: [keyword]})

        self.assertEqual(response.status_code, 200, &quot;Response wasn't ok.&quot;)

        jobs = response.json()[&quot;items&quot;]

        for job in jobs:
            self.assertTrue(
                keyword in (job[&quot;title&quot;] + job[&quot;description&quot;]).lower(),
                f&quot;Some job didn't include the filtered keyword in its title or description. Job ID: {job[&quot;id&quot;]}&quot;,
            )
</code></pre>
<p>You can run the tests by executing the following command in your terminal: <code>python manage.py test</code> </p>
<p>Documentation sources for testing:
* https://docs.djangoproject.com/en/5.1/topics/testing/ </p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
                <p>Copyright &copy; 2025 The SKILLAB Consortium</p>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../../js/base.js"></script>
        <script src="../../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
